* {
    font-family: Ubuntu;
}

.navbar .navbar-nav {
    margin: 0 75px;
}

.navbar .nav-item a {
    margin: 0 10px;
    border-radius: 19px;
    color: white;
}

.navbar .nav-item a:hover {
    color: black;
    background-color: white;
}

.navbar .nav-item .dropdown-item {
    color: black;
    border-radius: 0px;
    margin: 8px 0px;
}

.navbar::before {
    content: '';
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}
.mynav .toggle{
    margin:8px 0px;
}
li.nav-item.toggler{
    margin-left: 200px;
}